<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"

    backupGlobals="false"
    backupStaticAttributes="false"
    cacheResultFile=".phpunit/.phpunit.result.cache"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"

    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"

    beStrictAboutTestsThatDoNotTestAnything="false"
    beStrictAboutOutputDuringTests="true"

    timeoutForSmallTests="2"
    verbose="true">

    <coverage processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
        <report>
            <clover outputFile=".phpunit/clover.xml"/>
            <html outputDirectory=".phpunit/coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="false"/>
        </report>
    </coverage>

    <php>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="32767" />
        <ini name="memory_limit" value="1G" />
    </php>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
